<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="flaveandmalnub.housefinancemobile"
    android:versionCode="1"
    android:versionName="00.00.01">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <service android:name=".WebService.BackgroundService"
            android:exported="false"/>

        <activity android:name=".UserInterface.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".UserInterface.DisplayMessageActivity"
            android:label="Display Message"
            android:parentActivityName=".UserInterface.MainActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UserInterface.MainActivity"/>
        </activity>
    </application>

</manifest>