@using System.Threading.Tasks
@using HouseFinance.Core.Bills.Payments
@using HouseFinance.Core.FileManagement
@model List<HouseFinance.Core.Bills.BillOverview>
@{
    var payments = new GenericFileHelper(FilePath.Payments).GetAll<Payment>();
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>House Finance</h1>
    <p class="lead">A website built to manage the house finance for a very sexy couple, David and Vikki, and their three pet cats, Joshukitten, Dexter & Kylo.</p>
</div>

<div class="row">
    <div class="mainContentWrapper" id="billContainer">
        <p>@ViewBag.ExceptionMessage</p>
        <h1 class="mainContentHeader">List of Current Bills</h1>
        <a href="@Url.Action("AddBill", "Finance")" class="btn btn-primary" style="float: right">Add New Bill</a>
    </div>
</div>

<script>
    var billDetailsUrl = '@Url.Action("BillDetails", "Finance")';
    var monthNames = ["January", "February", "March", "April", "May", "June",
        "July", "August", "September", "October", "November", "December"
    ];

    window.onload = function getBills() {
        $.ajax({
            url: '@Url.Action("GetBillList", "Api")',
            type: "GET",
            beforeSend: function(xhr) {
                xhr.setRequestHeader('Authorization', 'D2DB7539-634F-47C4-818D-59AD03C592E3');
            },
            success: function (billList) {
                var billContainer = document.getElementById("billContainer");
                
                console.log(billList);
                var bills = billList.bills;
                for (var i = 0; i < bills.length; i++) {
                    var cardStyle;

                    if (bills[i].overdue) {
                        cardStyle = "card_Alert";
                    }
                    else if (bills[i].paid) {
                        cardStyle = "card_Complete";
                    }
                    else {
                        cardStyle = "card_Normal";
                    }

                    var dateDue = new Date(Date.parse(bills[i].fullDateDue));
                    var dateDueString = (dateDue.getDay() + 1) + " " + monthNames[dateDue.getMonth()] + " " + dateDue.getFullYear();

                    var billCard = "<div class='billCard'>" +
                        "<div class=" + cardStyle + "> " +
                        "<div class='col-sm-6 col-md-6'>" +
                        "<h3 style='font-family: NatterMedium; font-size: 33px; color: rgb(51, 51, 51)'>" +
                        "<b>" + bills[i].name + "</b>" +
                        "</h3>" +
                        "<h5 style='font-family: WhisperLight; font-size: 20px; color: rgb(51, 51, 51)'>" +
                        "Total:" +
                        "</h5>" +
                        "<h1 style='font-family: WhisperLight; font-size: 65px; color: rgb(51, 51, 51)'>" +
                        "£" + Number(Math.round(bills[i].totalAmount + 'e2') + 'e-2').toFixed(2) +
                        "</h1>" +
                        "<a href='" + billDetailsUrl + "?billId=" + bills[i].id + "' class='btn btn-primary'>See Bill Details</a>" +
                        "</div>" +
                        "<div class='col-md-6 col-sm-6'>" +
                        "<span style='font-family: Helvetica; font-size: 20px; color: rgb(51, 51, 51)'>" +
                        "Bill Date: <b>" + dateDueString + "</b>" +
                        "</span>" +
                        "<hr style='margin: 5px' />" +
                        "<span style='font-family: Helvetica; font-size: 20px; color: rgb(51, 51, 51)'>" +
                        "Balance Left: <b>£" + Number(Math.round(bills[i].amountDue + 'e2') + 'e-2').toFixed(2) + "</b>" +
                        "</span>" +
                        "<hr />" +
                        "<span>";

                    var people = bills[i].people;
                    for (var j = 0; j < people.length; j++) {
                        var grayscale = "grayscale(100%)";
                        var opacity = "opacity(50%)";

                        if (people[j].paid)
                        {
                            grayscale = "grayscale(0%)";
                            opacity = "opacity(100%)";
                        }

                        billCard += "<img src=" + people[j].imageLink + " width='40' style='filter: " + grayscale + " " + opacity + "; -webkit-filter: " + grayscale + " " + opacity + "' />";
                    }

                    billCard += "</span>" +
                        "</div>" +
                        "</div>" +
                        "</div>";

                    billContainer.innerHTML += billCard;
                }
            }
        });
    }
</script>